.bg{
    background: url("https://images.pexels.com/photos/28938431/pexels-photo-28938431/free-photo-of-colorful-sunglasses-on-yellow-background-modern-minimalist-style.jpeg?auto=compress&cs=tinysrgb&w=600");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}